{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}

	<h1>Authors on {{ SITENAME }}</h1>

	{%- for author, articles in authors|sort %}
		<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})
	{% endfor %}

{% endblock %}
