<!DOCTYPE html>
<html lang="{{ DEFAULT_LANGUAGE }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{ SITENAME }}{% endblock %}</title>

		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/simple.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/classes.css" />
    
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" />
		{% endif %}
    
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}

		<!-- This site has no support for Internet Explorer since IE doesn't support HTML5. This shouldn't be a concern because this site is written in plain HTML, it should look fine. -->
	</head>

	<body>

		{% if FEATURING_TITLE %}
<!--
 _   _  _____        _ _____ _____    _  _____ _   _ ____  ___ _   _  ____
| \ | |/ _ \ \      / |  ___| ____|  / \|_   _| | | |  _ \|_ _| \ | |/ ___|
|  \| | | | \ \ /\ / /| |_  |  _|   / _ \ | | | | | | |_) || ||  \| | |  _
| |\  | |_| |\ V  V / |  _| | |___ / ___ \| | | |_| |  _ < | || |\  | |_| |
|_| \_|\___/  \_/\_/  |_|   |_____/_/   \_|_|  \___/|_| \_|___|_| \_|\____|                                 
-->
				<a href="{{ FEATURING_LINK }}"
				   style="color: {{ FEATURING_COLOR_FG }};
				          background-color: {{ FEATURING_COLOR_BG }};
				          font-size: 2em">
					{{ FEATURING_TITLE }}
				</a>
		{% endif %}

		<header>

<!--
 _   _ _   _
| |_(_| |_| | ___
| __| | __| |/ _ \
| |_| | |_| |  __/
 \__|_|\__|_|\___|
-->
			<h1>
				<a href="{{ SITEURL }}/index.html">
					{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}
				</a>
			</h1>

<!--
 _ __ ___   ___ _ __  _   _
| '_ ` _ \ / _ | '_ \| | | |
| | | | | |  __| | | | |_| |
|_| |_| |_|\___|_| |_|\__,_|
-->
			<nav>
				{% for pg in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
					{% if 'http://' in pg.url -%}
						<a href="{{ pg.url }}">
							{{ pg.title }}
						</a>
					{% else %}    
						<a href="{{ SITEURL }}/{{ pg.url }}" {% if pg == page %} class="active"{% endif %}>
							{{ pg.title }}
						</a>
					{% endif %}
				{% endfor %}
			</nav>

			{% if DISPLAY_CATEGORIES_SUBMENU -%}
<!--
           _                        _
  ___ __ _| |_ ___  __ _  ___  _ __(_) ___ ___
 / __/ _` | __/ _ \/ _` |/ _ \| '__| |/ _ / __|
| (_| (_| | ||  __| (_| | (_) | |  | |  __\__ \
 \___\__,_|\__\___|\__, |\___/|_|  |_|\___|___/
                   |___/
-->
				<nav class="submenu">
					{% for cat, null in categories %}
						<a href="{{ SITEURL }}/{{ cat.url }}" {% if cat == category %} class="active"{% endif %}>
							{{ cat }}
						</a>
					{% endfor %}
				</nav>
			{% endif %}

		</header>

<!--             _             _
  ___ ___  _ __ | |_ ___ _ __ | |_
 / __/ _ \| '_ \| __/ _ | '_ \| __|
| (_| (_) | | | | ||  __| | | | |_
 \___\___/|_| |_|\__\___|_| |_|\__|
-->
		<main>
			{% block content %}
			{% endblock %}
		</main>

		<footer>
			{% if LICENSE %}
<!--
 _ _
| (_) ___ ___ _ __  ___  ___
| | |/ __/ _ | '_ \/ __|/ _ \
| | | (_|  __| | | \__ |  __/
|_|_|\___\___|_| |_|___/\___|
-->
				<p>All work licensed under <strong>{{ LICENSE }}</strong> unless otherwise stated.</p>
			{% endif %}

			{% if FOOTER_MENU %}
<!--
  __             _
 / _| ___   ___ | |_ ___ _ __
| |_ / _ \ / _ \| __/ _ | '__|
|  _| (_) | (_) | ||  __| |
|_|  \___/ \___/ \__\___|_|
-->
				{% for item, link in FOOTER_MENU %}
					<a href="{{ link }}">
						{{ item }}
					</a>
				{% endfor %}
			{% endif %}

			{% if CLUB_512KB %}
<!--
 ____  _ ____  _    _            _       _
| ___|/ |___ \| | _| |__     ___| |_   _| |__
|___ \| | __) | |/ | '_ \   / __| | | | | '_ \
 ___) | |/ __/|   <| |_) | | (__| | |_| | |_) |
|____/|_|_____|_|\_|_.__/   \___|_|\__,_|_.__/
-->
				<a href="https://512kb.club">
					<img src="https://512kb.club/images/{{ CLUB_512KB }}-team.svg" />
				</a>
			{% endif %}

<!--
 _           _ _                   _
(_)_ __   __| (_) _____      _____| |__
| | '_ \ / _` | |/ _ \ \ /\ / / _ | '_ \
| | | | | (_| | |  __/\ V  V |  __| |_) |
|_|_| |_|\__,_|_|\___| \_/\_/ \___|_.__/
-->
			<section style="display: none;" class="h-card">

			<!-- About me -->
				<span class="p-name">{{ AUTHOR }}</span>
				<span class="p-note">{{ BIO }}</span>
				{% if GENDER %}<span class="p-gender-identity p-sex">{{ GENDER }}</span>{% endif %}

			{% if PROFILE_PICTURE %}
			<!-- Profile picture -->
				<img class="u-photo" loading="lazy" alt="{{ AUTHOR }}" src="{{ SITEURL }}/images/{{ PROFILE_PICTURE }}">
			{% endif %}

			{% if LOCATION %}
			<!-- My location -->
				<span class="p-locality">{{ LOCATION }}</span>
			{% endif %}

			<!-- Links -->
				<a class="u-url u-uid" href="{{ SITEURL }}"></a>
			{% if MAIL %}
				<a class="u-email" rel="me" href="mailto:{{ MAIL }}"></a>
			{% endif %}
			{% if SOCIAL %}
				{% for name, link in SOCIAL %}
				<a class="u-url" rel="me" href="{{ link }}">{{ name }}</a>
				{% endfor %}
			{% endif %}

			{% if PRONOUN == 'he' %}
				<span class="p-pronoun-nominative p-x-pronoun-nominative">he</span>
				<span class="p-pronoun-oblique p-x-pronoun-oblique">him</span>
				<span class="p-pronoun-possessive p-x-pronoun-possessive">his</span>
			{% endif %}
			
			{% if PRONOUN == 'she' %}
				<span class="p-pronoun-nominative p-x-pronoun-nominative">she</span>
				<span class="p-pronoun-oblique p-x-pronoun-oblique">her</span>
				<span class="p-pronoun-possessive p-x-pronoun-possessive">her</span>
			{% endif %}
			
			{% if PRONOUN == 'it' %}
				<span class="p-pronoun-nominative p-x-pronoun-nominative">it</span>
				<span class="p-pronoun-oblique p-x-pronoun-oblique">it</span>
				<span class="p-pronoun-possessive p-x-pronoun-possessive">its</span>
			{% endif %}
			
			{% if PRONOUN == 'they' %}
				<span class="p-pronoun-nominative p-x-pronoun-nominative">they</span>
				<span class="p-pronoun-oblique p-x-pronoun-oblique">them</span>
				<span class="p-pronoun-possessive p-x-pronoun-possessive">their</span>
			{% endif %}

			<!-- Categories -->
				<span class="p-category">Blogging</span>
				<span class="p-category">Open Source Software</span>
				<span class="p-category">Privacy</span>

			</section>
<!-- end of indieweb profile -->

		</footer>

	</body>
</html>
