{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}

    <h1>Categories on {{ SITENAME }}</h1>

    <ul>
    {%- for cat, articles in categories|sort %}
    <li>
        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a> ({{ articles|count }})
    </li>
    {% endfor %}
    </ul>

{% endblock %}
