<!--
                                          _
  ___ ___  _ __ ___  _ __ ___   ___ _ __ | |_ ___
 / __/ _ \| '_ ` _ \| '_ ` _ \ / _ | '_ \| __/ __|
| (_| (_) | | | | | | | | | | |  __| | | | |_\__ \
 \___\___/|_| |_| |_|_| |_| |_|\___|_| |_|\__|___/
-->
	<hr style="border: none; border-top: 3px dashed">
	<h2>Comments</h2>
	<p>Toot on <a href="{{ article.comment }}">this thread</a> to comment. This blog is a static site. Comments won't appear here.</p>
