{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}

	<h1>
		{{ page.title }}
	</h1>
    
	{% import 'translations.html' as translations with context %}
	{{ translations.translations_for(page) }}
    
	{% if PDF_PROCESSOR %}
		<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
			Get the pdf 📄
		</a>
	{% endif %}
    
	{{ page.content }}

{% endblock %}
