{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}

<nav class="pagination">
    {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ first_page.url }}" class="pagination-button">⇤</a>
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="pagination-button">←</a>
    {% endif %}

    <p class="pagination-number">
		<strong>{{ articles_page.number }}</strong> / {{ articles_paginator.num_pages }}
	</p>

    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="pagination-button">→</a>
        <a href="{{ SITEURL }}/{{ last_page.url }}" class="pagination-button">⇥</a>
    {% endif %}
</nav>
{% endif %}
