{% if article.comment %}
<!-- Comments -->
	<hr>
	<h2>Comments</h2>
	<p>Toot on <a href="{{ article.comment }}">this thread</a> to comment. This blog is a static site. Comments won't appear here.</p>
{% endif %}
